.IdeasListControlsShare {
    display: flex;
    align-items: center;
}

.IdeasListControlsShare__Text {
    margin-right: 10px;
    opacity: 0.7;
}

@media screen and (max-width: 424px){
    .IdeasListControlsShare {
        padding: 5px 0 15px;
    }
}