.IdeasListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.IdeasListHeader__Name {
    font-size: 45px;
    margin-bottom: 0;
}


@media screen and (max-width: 767px){
    .IdeasListHeader__Name {
        font-size: 35px;
        margin-bottom: 0;
    }
}