.IdeasListHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid;
}

.IdeasListHeader__Sort {
    display: flex;
    align-items: stretch;
}

.IdeasListHeader__SortDirection {
    padding: 0 15px;
    cursor: pointer;
    opacity: 0.6;
    display: flex;
    align-items: center;
}

.IdeasListHeader__SortDirection:hover {
    opacity: 1;
}