.IdeasListControlsShare {
    display: flex;
    align-items: center;
}

.IdeasListControlsShare__Text {
    margin-right: 10px;
    color: rgba(39, 18, 124, 0.7);
}

@media screen and (max-width: 424px){
    .IdeasListControlsShare {
        padding: 5px 0 15px;
    }
}