.SidebarUser {
    padding: 20px;
    background-color: #fafafa;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: 110%;
    background-position-y: 10px;
}

.SidebarUser__Avatar {
    border-radius: 100%;
    width: 80px;
}

.SidebarUser__Content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.SidebarUser__Name {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.SidebarUser__Email {
    font-size: 13px;
    opacity: 0.7;
}

.SidebarUser__Menu {
    width: 20px;
    flex-shrink: 0;
}