.Sidebar {
    width: 270px;
    height: 100vh;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

.SidebarContent {
    height: 100%;
    background: linear-gradient(45deg, #00e7e4, #5feb72, #bfef00);
    display: flex;
    flex-direction: column;
}

.SidebarContent__BoardsList {
    height: 100%;
    overflow: auto;
}

.SidebarContent__CreateBoard {
    margin: 20px 0;
}

.SidebarContent__CreateBoardButton {
    font-family: 'Catamaran', sans-serif;
    font-weight: 800;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    background: none;
    padding: 10px 20px;
    border: 0;
    outline: none;
    color: #27127c;
    cursor: pointer;
}

.SidebarContent__CreateBoardButton span {
    margin-left: 15px;
}

.SidebarContent__CreateBoardButton:hover {
    background-color: rgba(0, 0, 0, 0.15);
}