.IdeaViewTotalScore {
    border-top: 1px solid rgba(39, 18, 124, 0.05);
    margin-top: 20px;
    padding-top: 20px;
}

.IdeaViewTotalScore__Caption {
    display: block;
    font-size: 16px;
}

.IdeaViewTotalScore__Value {
    font-size: 70px;
    font-weight: bold;
}