.IdeaView__Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.IdeaView__Name {
    font-size: 60px;
    font-weight: bold;
    line-height: 1em;
    margin-bottom: 0;
}

.IdeaView__Description {
    font-size: 24px;
    white-space: pre-line;
}

.IdeaView__Scores {
    margin: 20px 0;
}

.IdeaViewScore__Type {
    font-weight: bold;
    font-size: 16px;
}

.IdeaViewScore__Value {
    font-size: 26px;
    font-weight: bold;
    margin: 0 15px;
}

.IdeaViewScore__Text {
    font-size: 14px;
}

.IdeaView__TotalScore {
    font-size: 69px;
    font-weight: bold;
}

.IdeaViewFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px){
        .IdeaView__Name {
        font-size: 45px;
        word-break: break-word;
    }

    .IdeaView__Description {
        font-size: 20px;
    }
}