.IdeaForm__Header {
    font-size: 45px;
}

.IdeaFormSlider {
    margin-top: 20px;
}

.IdeaFormSlider__Header {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-size: 16px;
}

.IdeaForm__Footer {
    margin-bottom: 30px;
}
