.IdeaCreate {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    color: #27127c;
    width: 600px;
    max-width: 100vw;
    text-align: left;
    padding: 30px;
}

.IdeaCreate__Score {
    font-size: 70px;
    font-weight: bold;
}